<%= form_for(@sub_product_type) do |f| %>
<div class="form-group">
      <%= f.text_field :type_name, autofocus: true, class: "form-control", placeholder: "Name"%>
</div>
<div class="form-group">
<%= f.collection_select :product_type_id, ProductType.all,:id,:type_name, {}, {class: "form-control"} %>
</div>
  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-success btn-block" %>
  </div>
<% end %>
